<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>{% extends 'base.html' %}

    <!-- VARIABLE BLOQUES EN EL MENU NAVBAR -->
    {% block Usuario %}
    Bienvenido, {{request.session.nombre}} {{request.session.apellido}}
    {% endblock %}

    {% block logout %}
    <div class="d-flex">
        <a class="nav-link d-flex" href="/logout">Desloguear</a>
    </div>

    {% endblock %}

    <!-- A partir de aqui contenido de la pagina -->

    {% block content %}

    <div class="container mt-3">
        <div class="row">

            <!-- TODO Para colocar botones a la izquierda apilados  -->
            <div class=" d-grid gap-2 d-md-flex justify-content-md-end">
                <a class='btn btn-primary btn-sm me-md-2' href="/wall">Inicio</a> <a class='btn btn-primary btn-sm'
                    href="/logout">Desloguear</a>
            </div>

            <h1 class='text-center my-4'>Bienvenido {{request.session.nombre}} {{request.session.apellido}}
            </h1>

            <div class="col-sm-12 col-lg-9 mx-auto">
                <form action="/mensaje" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="mensaje" class="form-label">Deja un mensaje</label>
                        <textarea class="form-control border border-dark border border-3"" id=" mensaje" rows="3"
                            name="mensaje"></textarea>
                    </div>

                    <input type="hidden" name="msg_usuario" value="{{request.session.id}}">

                    <button type="submit" class="btn btn-primary">Deja un Mensaje</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container my-4 py-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="text-center mb-4 pb-2">Mensajes y comentarios</h4>
                        {% load static %}
                        <div class="row">
                            <div class="col">
                                {% for m in mensajes %}
                                <div class="d-flex flex-start mt-4">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                        src="{% static 'img/'%}{{m.user.id}}.jpg" alt="avatar"
                                        width="65" height="65" />
                                    <div class="flex-grow-1 flex-shrink-1">
                                        <div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="mb-1"> Mensaje por {{m.user.firstname}}
                                                    {{m.user.lastname}} el {{m.created_at|date:"jS F Y"}},<span
                                                        class="small"> - hace {{m.created_at|timesince}} </span>
                                                </p>
                                            </div>
                                            <p class="small mb-0">
                                                {{m.mensaje}}
                                            </p>
                                            

                                            <form action="/comentario" method="POST">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="comentario" class="form-label"></label>
                                                    <textarea class="form-control border border-primary border border-2" id="comentario" rows="1"
                                                        name="comentario"></textarea>
                                                </div>
                            
                                                <input type="hidden" name="mensaje_id" value="{{m.id}}">
                                                
                                                <button type="submit" class="btn btn-sm btn-success"> <i class="far fa-comment"> </i> Deja un
                                                    comentario</button>
                                                    
                                                    <!-- TODO Cuando se pregunta por variable dentro de if, no se usa dobe llaves -->
                                                    <!-- TODO Con timesince se puede preguntar por periodos de tiempo, pero no es lo mas eficiente -->
                                                    {% if request.session.id == m.user.id and m.created_at > 30min_ago %} 
                                                    <a class="btn btn-danger btn-sm" href="borrar_msg/{{m.id}}" role="button">Borrar Mensaje</a>
                                                    {% endif %}
                                                </form> 
                                            </div>
                                            
                                            {% if not m.comentarios.all %}
                                            <p> Sin comentarios:</p>
                                            
                                            {% else %}
                                            <p>Cantidad de comentarios: {{m.comentarios.all|length}}</p>
                                            
                                            {% for c in m.comentarios.all reversed %}
                                            
                                            
                                        <div class="d-flex flex-start mt-2">
                                            <a class="me-3" href="#">
                                                <img class="rounded-circle shadow-1-strong"
                                                src= "{% static 'img/'%}{{c.user.id}}.jpg"
                                                alt="avatar" width="65" height="65" />
                                            </a>
                                            <div class="flex-grow-1 flex-shrink-1">
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1">
                                                            {{c.user.firstname}} {{c.user.lastname}}
                                                            {{c.created_at|date:"jS F Y"}}
                                                            Comentario:{{c.id}} <span class="small">- - hace
                                                                {{c.created_at|timesince}} </span>
                                                            </p>
                                                        </div>
                                                        <p class="small mb-0">
                                                            {{c.comentario}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            {% endfor%}
                                            {%endif%}
                                            
                                        </div>
                                    </div>
                                    
                                    {% endfor%}
                                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}

    <!-- RESPALDAR DATOS EN DB (en json)
./ manage.py dumpdata -> data.json o py manage.py dumpdata > data.json
./ manage.py loaddata data.json o py manage.py loaddata data.json -->